@use "normalize";
@use "variables";
@use "animations";
@use "syntax-charcoal" as syntax;

// TODO: allow to change that
$main-colour: #c05b4d;
$secondary-colour: #f8f5ec;
$link-colour: #8d4338;
$body-width: 800px;
$mobile-navbar-height: 50px !default;
$code-colour: #c7254e;
$code-font-family: 'Fira Code', Consolas, Monaco, Menlo, Consolas, monospace !default;
$decoration-font-family: Athelas, STHeiti, Microsoft Yahei, serif;

@use "base";
@use "header";
@use "main";
@use "mobile";
@use "slideout";
@use "toc";

@mixin max-screen($max-width: $body-width) {
   @media screen and (max-width: $max-width) {
     @content;
   }
}

@import "animations";
@import "base";
@import "header";
@import "main";
@import "mobile";
@import "slideout";
@import "toc";
@import "footer";

@include syntax.light;
